@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Unbounded:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialised
}

h1,
h2,
h3,
h4, button {
	font-family: 'Unbounded', sans-serif;
}

body {
  font-family: 'open sans', sans-serif;
}
