@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Unbounded:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: 'open sans', sans-serif;
}

html {
	scroll-behavior: smooth;
	will-change: scroll-position;
}

h1,
h2,
h3,
h4, button, label {
	font-family: 'Unbounded', sans-serif;
}

/* swiper-custom.css */

/* Change the background color of active bullet */
.swiper-pagination-bullet-active {
  background-color: #ff0000; /* Your desired color */
}

/* Change the background color of inactive bullets */
.swiper-pagination-bullet {
  background-color: #999; /* Your desired color */
}

/* Optionally, change other styles like size, margin, etc. */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 5px;
}

