@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Unbounded:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  will-change: scroll-position;
}

body {
  font-family: 'open sans', sans-serif;
}

h1,
h2,
h3,
h4, button, label {
	font-family: 'Unbounded', sans-serif;
}

.custom-select-container {
  position: relative;
  width: 200px; /* Adjust the width as needed */
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

/* swiper-custom.css */

/* Change the background color of active bullet */
.swiper-pagination-bullet-active {
  background-color: #ff0000; /* Your desired color */
}

/* Change the background color of inactive bullets */
.swiper-pagination-bullet {
  background-color: #999; /* Your desired color */
}

/* Optionally, change other styles like size, margin, etc. */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 5px;
}

